.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}

.date {
  border: 1px solid rgb(167, 165, 165);
  width: 200px;
  text-align: center;
  background-color: rgb(167, 165, 165);
  color: white;
}

.line {
  border: 1px solid rgb(167, 165, 165);
  width: 100%;
  height: 1px;
}